<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{forums.title}"></title>

    <!--<link rel="icon" type="image/x-icon" th:href="@{../images/favicon.png}" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap: CSS -->
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- jQuery: JS -->
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap: JS -->
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
</body>
</html>