<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">

        <div class="panel panel-primary panel-collapse" th:each="category: ${categories}">
            <div class="panel-heading" th:text="${category.title}"></div>
            <div class="panel-body">
                <div th:text="${category.description}"></div>
                <br/>
                <ul class="list-group">
                    <li class="list-group-item" th:each="topic: ${category.topics}">
                        <!--<a th:href="@{/forums/topics/view(id=${topic.id})}" th:text="${topic.title}"></a>-->
                        <a th:href="@{/showtopic(id=${topic.id})}" th:text="${topic.title}"></a>
                        <span th:if="${topic.pinned} == true" class="glyphicon glyphicon-pushpin" title="Pinned Topic" />
                        <span class="badge"><span th:text="${#lists.size(topic.posts)} + ' posts'" /></span>
                    </li>
                </ul>
            </div>

            <div class="panel-footer text-right">
                <a th:href="@{/createtopic(categoryId=${category.id})}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus"></span> New Topic</a>
            </div>
        </div>
    </div>
</body>
</html>